@page 
@model IndexModel
@using MongoDB.Driver
@using MongoDB.Bson
<div>
    <h3>Existing Bullets</h3> 
    <table class="table">
        <thead><th>Name</th><th>Brand</th><th>Weight</th><th>Calibur</th></thead>
        <tbody>
            @foreach(var item in Model.bulletTypes)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Brand</td> 
                    <td>@item.Weight</td> 
                    <td>@item.Calibur</td> 
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.ID">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                       
                        <a asp-page="./Edit" asp-route-id="@item.ID">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <h3>Add New Bullet</h3>
    <form class="form-inline " method="POST">
        <div class="form-group "><label>Name:</label><input class="form-control" asp-for="NewBullet.Name" /></div>
        <div class="form-group "><label>Brand:</label><input class="form-control"  asp-for="NewBullet.Brand"></div>
        <div class="form-group "><label>Weight:</label><input class="form-control" asp-for="NewBullet.Weight"></div>
        <div class="form-group "><label>Calibur:</label><input class="form-control" asp-for="NewBullet.Calibur"></div>
        <button type="submit" class="btn btn-default btn-lrg">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        </button>
    </form>
</div>